<form [formGroup]="form" (ngSubmit)="sub()">
  <div class="mb-3">
    <label for="email" class="form-label">Email: </label>
    <input type="text" id="email" class="form-control" placeholder="Mail" formControlName="mail" required/>
    <p *ngIf="Validate('mail'); let error" class="text-danger">{{error}}</p>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Mot de passe: </label>
    <input type="password" id="password" class="form-control" placeholder="Mot de passe" formControlName="pwd" required/>
  </div>
  <div class="mb-3">
    <label for="confirmation" class="form-label">Confirmation: </label>
    <input type="password" id="confirmation" class="form-control" placeholder="Confirmer le mot de passe" formControlName="cpwd" required/>
  </div>
  <div class="form-check mb-3">
    <input type="checkbox" id="CGU" class="form-check-input" formControlName="terms" required/>
    <label class="form-check-label" for="CGU">Conditions Générales d'Utilisation</label>
  </div>
  <button type="submit" class="btn btn-primary">S'inscrire</button>
</form>
