<div class="container-fluid">
  <header>
    <h1>Angular</h1>
  </header>
  <nav class="nav">
    <a class="nav-link" routerLink="/">Accueil</a>
    <a class="nav-link" routerLink="/pres">Présentation</a>
    <a class="nav-link" routerLink="/todo">Todos</a>
    <a class="nav-link" routerLink="/filter">Filtre</a>
    <a class="nav-link" routerLink="/directive">directive</a>
    <a class="nav-link" routerLink="/local">Local</a>
    <a class="nav-link" routerLink="/custom">Custom pipe</a>
    <a class="nav-link" routerLink="/driven-forms">Driven form</a>
    <a class="nav-link" routerLink="/reactive-forms">Reactive form</a>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
 <!-- <footer>
    <p class="small text-center">Angular</p>
  </footer>-->
</div>


